@import "variables";


  .navbar{
  background: @primary-blue !important;
  color: @secondary-white;
  height: @width-1;
  padding-top: 2%;
  padding-right: 2%;
}

.navbar{
  .nav-item{
    color: @secondary-white;
    font-size: @nav-text;
  }
}

.navbar-toggler{
  background: @secondary-white;
}
.jumbotron{
  background: url("../img/jaygo.jpg");
  background-size: cover;
  height: 300px;
}
#navbarTogglerDemo03{
  background: @primary-blue;
}
