@import "variables";

//navigation styles//
  .navbar{
  background: @primary-blue !important;
  color: @secondary-white;
  height: @width-1;
  padding-top: 2%;
  padding-right: 2%;
}

.navbar{
    .nav-link{
    color: @secondary-white !important;
    font-size: @nav-text;
    font-family: @font-secondary;
    margin-right: 15% !important;
  }
}


.navbar-toggler{
  background: @secondary-white;
}

#navbarTogglerDemo03{
  background: @primary-blue;
}
//Jumbotron styles
.jumbotron-fluid{

      background: url("../img/logo/jaygo2.jpg") no-repeat center center;
      -webkit-background-size: 100% 100%;
      -moz-background-size: 100% 100%;
      -o-background-size: 100% 100%;
      background-size: 100% 100%;
  }



//Row 1 Section//
.badge{
  background: @primary-blue;
  font-family: @font-secondary;

}

.paratext{
  margin: 5% 2% 5% 2%;
  font-weight: bold;
    }
.section-info{
  background: url("../img/orange-paws-light.png")no-repeat;
background-size: contain;
background-position: right 1px bottom 5px;
  height: 500px;
    .heading{
      color:@primary-blue;
      font-family: @font;
      font-size: 4rem;
      display: inline;
        }
      }
.section-text{
  font-size: 1rem;
  font-weight: bold;
  font-family: @font-secondary;

}
//Row 2 Section Blue Styles//
.container-fluid-2{
  margin-top: 10px;
  background: @primary-blue;
  width: 100%;
}
.card-1, .card-2, .card-3{
  margin-top: 50px;
  border: solid 4px  @secondary-white;
  background: @primary-blue;
  height: 200px;
  margin-left: 5%;
    .card-title{
      font-family: @font;
      color:@secondary-white;
      text-align: center;
      padding-top: 12%;
    }
}

//Row 3 Button Section//
.section-2{
  margin-top: 100px;
  height: 400px;
  background: url("../img/orange-paws.png");
  background-size: 45%;
  margin-left: 50px;
    .heading2{
      color:@primary-blue;
      font-family: @font;
      font-size: 4rem;
            }
          }
  .heading3{
  color: @secondary-black;
  font-size: 1rem;
        }
.btn{
  background: @primary-blue;
  font-family: @font;
  margin-top: 5%;

}
.dogs2{
  height:400px;
  float:right;
  margin-top:-10%;
  margin-right: 10%;
}
